In [1]:
# download from 
# version 4
# https://www.kaggle.com/anttip/wordbatch-1-3-3-fm-ftrl-using-mse-lb-0-9805?scriptVersionId=2738014/output
import pandas as pd
import pickle
df1 = pd.read_csv('../results/lvl0_wordbatch_clean_sub.csv')
df2 = pd.read_csv('../results/lvl0_wordbatch_clean_oof.csv')
df1.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.746586,0.609725,0.718017,0.556503,0.688249,0.594687
1,0000247867823ef7,0.497465,0.506622,0.496665,0.500442,0.504711,0.510439
2,00013b17ad220c46,0.503248,0.497755,0.496537,0.503227,0.494506,0.502942
3,00017563c3f7919a,0.483380,0.495728,0.489771,0.498494,0.491461,0.494052
4,00017695ad8997eb,0.506244,0.500591,0.500800,0.501304,0.500047,0.507146

In [2]:
df2.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate,toxic_oof,severe_toxic_oof,obscene_oof,threat_oof,insult_oof,identity_hate_oof
0,0000997932d777bf,0,0,0,0,0,0,0.478513,0.494473,0.493797,0.486045,0.489668,0.497940
1,000103f0d9cfb60f,0,0,0,0,0,0,0.533639,0.513896,0.509209,0.510088,0.515697,0.510472
2,000113f07ec002fd,0,0,0,0,0,0,0.504832,0.484350,0.490241,0.487240,0.488892,0.490343
3,0001b41b1c6bb37e,0,0,0,0,0,0,0.487651,0.497430,0.494661,0.497070,0.496583,0.502407
4,0001d958c54c6e35,0,0,0,0,0,0,0.518805,0.501900,0.520827,0.497960,0.524845,0.511530

In [3]:
cls = ['toxic','severe_toxic','obscene','threat','insult','identity_hate']
print(df1.columns)
test_pred = df1[cls].values
print(test_pred[:5])

Index(['id', 'toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'],
      dtype='object')
[[0.7465857  0.60972521 0.71801682 0.55650322 0.68824869 0.59468667]
 [0.49746535 0.5066216  0.49666519 0.50044193 0.50471051 0.51043862]
 [0.50324817 0.49775542 0.4965369  0.5032268  0.49450648 0.50294223]
 [0.48338012 0.49572804 0.48977072 0.49849427 0.49146058 0.49405219]
 [0.50624424 0.50059118 0.50080031 0.50130406 0.5000467  0.50714555]]

In [4]:
cls_2 = [x+'_oof' for x in cls]
train_pred = df2[cls_2].values
print(train_pred[:5])

with open('../features/wordbatch_feat.pkl','wb') as fout:
    pickle.dump([train_pred,test_pred],fout)
print('done')

[[0.47851298 0.49447306 0.49379672 0.48604494 0.48966793 0.49794009]
 [0.53363913 0.51389556 0.50920893 0.51008829 0.51569662 0.51047188]
 [0.50483177 0.48434988 0.49024061 0.48724027 0.48889201 0.49034259]
 [0.48765095 0.49742967 0.49466059 0.49707037 0.49658303 0.50240724]
 [0.51880458 0.50190049 0.52082744 0.49795968 0.52484543 0.51152988]]
done

In [5]:
df1 = pd.read_csv('../results/cnn_word_char_10_feat_test.csv')
df2 = pd.read_csv('../results/cnn_word_char_10_feat_train.csv')
df1.head()

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.998895      0.339448  0.993096  0.074030  0.952100       0.336051
1  0.001316      0.000354  0.000650  0.000299  0.000465       0.000209
2  0.000877      0.000392  0.000608  0.000300  0.000382       0.000271
3  0.000905      0.000377  0.000459  0.000385  0.000435       0.000302
4  0.008192      0.000483  0.001275  0.000532  0.001264       0.000312

In [6]:
df2.head()

      toxic  severe_toxic   obscene    threat    insult  identity_hate
0  0.009682      0.000597  0.002522  0.000660  0.001897       0.000727
1  0.001666      0.000322  0.000647  0.000138  0.000389       0.000212
2  0.022167      0.000874  0.003473  0.000918  0.003770       0.000833
3  0.001544      0.000314  0.000531  0.000222  0.000459       0.000313
4  0.069048      0.000877  0.002996  0.001171  0.010260       0.000494

In [8]:
test_pred = df1[cls].values
train_pred = df2[cls].values
with open('../features/cnn_word_char_feat.pkl','wb') as fout:
    pickle.dump([train_pred,test_pred],fout)
print('done')

done